body {
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    margin: 0 auto;
}

.centerer {
    margin: 0 auto;
    width: fit-content;
}

.deco-none {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:link {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:hover {
  color: inherit;
  text-decoration: inherit;
}

section {
    float: left;
}

.logo {
    width: 600px;
}

.liquidFillGaugeText {
    font-family: 'Orbitron', sans-serif;
}

.gauge {
    height: 180px;
    width: 180px;
}

#air-humid-graph-path {
    stroke: #0c3d70;
    stroke-width: 1px;
    fill: none;
}

#soil-humid-graph-path {
    stroke: #4CAF50;
    stroke-width: 1px;
    fill: none;
}

#air-temp-graph-path {
    stroke: #FF5722;
    stroke-width: 1px;
    fill: none;
}

.gauge-container {
    float: left;
    width: 33%;
    padding: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x.axis {
    font-size: 10pt;

}

.section-growing {
    width: 100%
}

h3 {
    padding: 10px 20px 10px 20px;
}

nav {
    padding: 10px;
}